<h1>Listing posts</h1>

<% @posts.each do |post| %>
  <ul data-role="listview">
    <li><%= link_to post.heading, post_path(post) %></li><br />
  </ul>
<% end %>

<br />

<%= link_to 'New Post', new_post_path %>
